suite dafs@EXPID@
  edit MACHINE_SITE '@MACHINE_SITE@'
  edit USER '@USER@'
  edit dafs_ver '@MODELVER@'
  edit PACKAGEHOME '@PACKAGEHOME@'
  edit ECF_INCLUDE '@PACKAGEHOME@/ecf/include' # Don't	use %PACKAGEHOME%, it doesn't work
  edit ECF_FILES '%PACKAGEHOME%/ecf'
  edit ENVIR 'prod'
  edit QUEUE 'dev'
  edit QUEUE_ARCH 'dev_transfer'
  edit PROJENVIR 'DEV'
  edit PROJ 'GFS' # TODO: Change to 'DAFS' when ready. For testing, use your job card account
  edit PDY '@PDY@'
  edit PARATEST 'NO'
  edit SENDDBN 'NO'
  edit SENDDBN_NTC 'NO'
  edit SENDCANNEDDBN 'NO'
  edit KEEPDATA 'NO'
  edit RUN_ENVIR 'dev'
  edit COMROOT '/lfs/h2/emc/ptmp/%USER%/dafs@EXPID@/%ENVIR%/com'
  edit DATAROOT '/lfs/h2/emc/ptmp/%USER%/dafs@EXPID@/tmp'
  edit OUTPUTDIR '/lfs/h2/emc/ptmp/%USER%/dafs@EXPID@/output'
  edit COMPATH '%COMROOT%/dafs'
  family primary
    family dafs
      edit NET 'dafs'
      edit RUN 'dafs'
      family @MODELVER@
        family @CYC@
          edit CYC '@CYC@'
	  family conus
	    edit DOMAIN 'conus'
            task jdafs_manager
              event 1 release_dafs_forecast_conus_001  # forecast
              event 2 release_dafs_forecast_conus_002
              event 3 release_dafs_forecast_conus_003
              event 4 release_dafs_forecast_conus_004
              event 5 release_dafs_forecast_conus_005
              event 6 release_dafs_forecast_conus_006
              event 7 release_dafs_forecast_conus_007
              event 8 release_dafs_forecast_conus_008
              event 9 release_dafs_forecast_conus_009
              event 10 release_dafs_forecast_conus_010
              event 11 release_dafs_forecast_conus_011
              event 12 release_dafs_forecast_conus_012
              event 13 release_dafs_forecast_conus_013
              event 14 release_dafs_forecast_conus_014
              event 15 release_dafs_forecast_conus_015
              event 16 release_dafs_forecast_conus_016
              event 17 release_dafs_forecast_conus_017
              event 18 release_dafs_forecast_conus_018
            family forecast
              task jdafs_forecast_conus_f001
                trigger ../jdafs_manager:release_dafs_forecast_conus_001
                edit FHR 001
              task jdafs_forecast_conus_f002
                trigger ../jdafs_manager:release_dafs_forecast_conus_002
                edit FHR 002
              task jdafs_forecast_conus_f003
                trigger ../jdafs_manager:release_dafs_forecast_conus_003
                edit FHR 003
              task jdafs_forecast_conus_f004
                trigger ../jdafs_manager:release_dafs_forecast_conus_004
                edit FHR 004
              task jdafs_forecast_conus_f005
                trigger ../jdafs_manager:release_dafs_forecast_conus_005
                edit FHR 005
              task jdafs_forecast_conus_f006
                trigger ../jdafs_manager:release_dafs_forecast_conus_006
                edit FHR 006
              task jdafs_forecast_conus_f007
                trigger ../jdafs_manager:release_dafs_forecast_conus_007
                edit FHR 007
              task jdafs_forecast_conus_f008
                trigger ../jdafs_manager:release_dafs_forecast_conus_008
                edit FHR 008
              task jdafs_forecast_conus_f009
                trigger ../jdafs_manager:release_dafs_forecast_conus_009
                edit FHR 009
              task jdafs_forecast_conus_f010
                trigger ../jdafs_manager:release_dafs_forecast_conus_010
                edit FHR 010
              task jdafs_forecast_conus_f011
                trigger ../jdafs_manager:release_dafs_forecast_conus_011
                edit FHR 011
              task jdafs_forecast_conus_f012
                trigger ../jdafs_manager:release_dafs_forecast_conus_012
                edit FHR 012
              task jdafs_forecast_conus_f013
                trigger ../jdafs_manager:release_dafs_forecast_conus_013
                edit FHR 013
              task jdafs_forecast_conus_f014
                trigger ../jdafs_manager:release_dafs_forecast_conus_014
                edit FHR 014
              task jdafs_forecast_conus_f015
                trigger ../jdafs_manager:release_dafs_forecast_conus_015
                edit FHR 015
              task jdafs_forecast_conus_f016
                trigger ../jdafs_manager:release_dafs_forecast_conus_016
                edit FHR 016
              task jdafs_forecast_conus_f017
                trigger ../jdafs_manager:release_dafs_forecast_conus_017
                edit FHR 017
              task jdafs_forecast_conus_f018
                trigger ../jdafs_manager:release_dafs_forecast_conus_018
                edit FHR 018
            endfamily  # endfamily forecast
          endfamily  # endfamily conus
	  family alaska
	    edit DOMAIN 'alaska'
            task jdafs_manager
              event 1 release_dafs_forecast_alaska_001  # forecast
              event 2 release_dafs_forecast_alaska_002
              event 3 release_dafs_forecast_alaska_003
              event 4 release_dafs_forecast_alaska_004
              event 5 release_dafs_forecast_alaska_005
              event 6 release_dafs_forecast_alaska_006
              event 7 release_dafs_forecast_alaska_007
              event 8 release_dafs_forecast_alaska_008
              event 9 release_dafs_forecast_alaska_009
              event 10 release_dafs_forecast_alaska_010
              event 11 release_dafs_forecast_alaska_011
              event 12 release_dafs_forecast_alaska_012
              event 13 release_dafs_forecast_alaska_013
              event 14 release_dafs_forecast_alaska_014
              event 15 release_dafs_forecast_alaska_015
              event 16 release_dafs_forecast_alaska_016
              event 17 release_dafs_forecast_alaska_017
              event 18 release_dafs_forecast_alaska_018
            family forecast
              task jdafs_forecast_alaska_f001
                trigger ../jdafs_manager:release_dafs_forecast_alaska_001
                edit FHR 001
              task jdafs_forecast_alaska_f002
                trigger ../jdafs_manager:release_dafs_forecast_alaska_002
                edit FHR 002
              task jdafs_forecast_alaska_f003
                trigger ../jdafs_manager:release_dafs_forecast_alaska_003
                edit FHR 003
              task jdafs_forecast_alaska_f004
                trigger ../jdafs_manager:release_dafs_forecast_alaska_004
                edit FHR 004
              task jdafs_forecast_alaska_f005
                trigger ../jdafs_manager:release_dafs_forecast_alaska_005
                edit FHR 005
              task jdafs_forecast_alaska_f006
                trigger ../jdafs_manager:release_dafs_forecast_alaska_006
                edit FHR 006
              task jdafs_forecast_alaska_f007
                trigger ../jdafs_manager:release_dafs_forecast_alaska_007
                edit FHR 007
              task jdafs_forecast_alaska_f008
                trigger ../jdafs_manager:release_dafs_forecast_alaska_008
                edit FHR 008
              task jdafs_forecast_alaska_f009
                trigger ../jdafs_manager:release_dafs_forecast_alaska_009
                edit FHR 009
              task jdafs_forecast_alaska_f010
                trigger ../jdafs_manager:release_dafs_forecast_alaska_010
                edit FHR 010
              task jdafs_forecast_alaska_f011
                trigger ../jdafs_manager:release_dafs_forecast_alaska_011
                edit FHR 011
              task jdafs_forecast_alaska_f012
                trigger ../jdafs_manager:release_dafs_forecast_alaska_012
                edit FHR 012
              task jdafs_forecast_alaska_f013
                trigger ../jdafs_manager:release_dafs_forecast_alaska_013
                edit FHR 013
              task jdafs_forecast_alaska_f014
                trigger ../jdafs_manager:release_dafs_forecast_alaska_014
                edit FHR 014
              task jdafs_forecast_alaska_f015
                trigger ../jdafs_manager:release_dafs_forecast_alaska_015
                edit FHR 015
              task jdafs_forecast_alaska_f016
                trigger ../jdafs_manager:release_dafs_forecast_alaska_016
                edit FHR 016
              task jdafs_forecast_alaska_f017
                trigger ../jdafs_manager:release_dafs_forecast_alaska_017
                edit FHR 017
              task jdafs_forecast_alaska_f018
                trigger ../jdafs_manager:release_dafs_forecast_alaska_018
                edit FHR 018
            endfamily  # endfamily forecast
          endfamily  # endfamily alaska
        endfamily  # endfamily @CYC@
      endfamily  # endfamily @MODELVER@
    endfamily  # endfamily dafs
  endfamily  # endfamily primary
endsuite  # endsuite dafs@EXPID@
